.*
*/
!project/
!project/**
!.vimrc
!.bashrc
!.tmux.conf
!.gitignore
!.invs_alias.tcl
!.gitconfig
!.teamshare/
!.ctags
!.vim/
!.vim/**
.vim/pack/jetpack/opt/vim-jetpack
.vim/pack/jetpack/opt/diffchar.vim
