.*
*/
!project/
!project/**
!claude_code_workspace/
!claude_code_workspace/**
!.vimrc
!.config/
!.config/**
.config/gh/hosts.yml
!.bashrc
!.cshrc
!.tmux.conf
!.gitignore
!.gitattributes
!.gitmodules
!.invs_alias.tcl
!.pt_alias.tcl
!.gitconfig
!.apps_installed_by_songanrui.sh
!.teamshare/
!.ctags
!.vim/
!.vim/**
test*/
test*/**
all_*
.vim/pack/jetpack/opt/vim-jetpack
.vim/pack/jetpack/opt/diffchar.vim
*.swp
*.swo
*.swn
.*.swp
.*.swo
.*.swn
*~
