.*
*/
!project/
!project/**
!.vimrc
!.bashrc
!.cshrc
!.tmux.conf
!.gitignore
!.gitattributes
!.gitmodules
!.invs_alias.tcl
!.pt_alias.tcl
!.gitconfig
!.teamshare/
!.ctags
!.vim/
!.vim/**
all_*
.vim/pack/jetpack/opt/vim-jetpack
.vim/pack/jetpack/opt/diffchar.vim
*.swp
*.swo
*.swn
.*.swp
.*.swo
.*.swn
*~
