*
*/
.*
!.gitignore
!scr_sar/
!scr_sar/**
!backend/
!backend/**
!ref_from_others/
!ref_from_others/**
!reportsScriptsScrapedInfo/
!reportsScriptsScrapedInfo/**
all_*
wn_*
*.swp
*.swo
*.swn
.*.swp
.*.swo
.*.swn
*~
